*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f2c293;
  --paragraph: #675d2c;
  --black: #3c3025;
}

body {
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
  background-color: rgba(242, 194, 147, 0.1);
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  width: 100vw;
  align-items: center;
  margin-top: 128px;
  color: var(--paragraph);
  overflow: hidden;
}
.loading img {
  height: 248px;
  width: 248px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.loading .loader {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  -webkit-clip-path: inset(0 3ch 0 0);
          clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loading .loader:before {
  content: "Loading...";
}
@keyframes l4 {
  to {
    -webkit-clip-path: inset(0 -1ch 0 0);
            clip-path: inset(0 -1ch 0 0);
  }
}

.back--button {
  position: absolute;
  top: 16px;
  left: 16px;
}
.back--button .button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
.back--button .button:before,
.back--button .button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}
.back--button .button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.back--button .button:after {
  border: 4px solid var(--primary);
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.back--button .button:hover:before,
.back--button .button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.back--button .button:hover:after,
.back--button .button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.back--button .button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.back--button .button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: var(--paragraph);
}
.back--button .button:hover .button-box,
.back--button .button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

.popup.error {
  width: 25rem;
  height: 10rem;
  margin: 4rem auto;
  background-color: #fafafa;
  box-shadow: 2px 2px 1rem #212121;
  border-radius: 0.25rem;
  position: absolute;
  bottom: 0;
  right: 32px;
  overflow: hidden;
}
.popup.error .message {
  background-color: #e74c3c;
  height: 7rem;
  border-radius: 0.25rem 0.25rem 0 0;
  overflow: hidden;
  position: relative;
  font-size: 0.9rem;
  padding: 8px;
}
.popup.error .message p {
  padding: 0.5rem;
  color: #fafafa;
}
.popup.error .fa {
  position: absolute;
  color: #fafafa;
  font-size: 10rem;
  opacity: 0.3;
  top: -2.5rem;
  right: -0.5rem;
}
.popup.error .action {
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  position: relative;
}
.popup.error .action button {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  outline: none;
  border: 0;
  background-color: #e74c3c;
  width: 5rem;
  height: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}
.popup.error .action button:hover {
  background-color: #fafafa;
  border: 1px solid #e74c3c;
  color: #e74c3c;
}
.popup.error .action button:active {
  background-color: #c0392b;
}

.dashboard .upload--form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard .upload--form h1 {
  margin-bottom: 32px;
}
.dashboard .upload--form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dashboard .upload--form form input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: lightgray;
}
.dashboard .upload--form form button {
  padding: 8px;
  border: none;
  background-color: var(--primary);
  color: var(--paragraph);
  border-radius: 8px;
  font-size: 32px;
  cursor: pointer;
}

.card {
  background-color: var(--primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  color: var(--black);
  cursor: pointer;
}
.card .card--image {
  width: 248px;
  height: 248px;
}
.card .card--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  border-radius: 16px;
}
.card .card--information {
  padding: 16px 8px;
}
.card .card--information p {
  float: right;
}

.card:hover {
  filter: opacity(0.9);
}

.app .navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(180deg, rgb(242, 194, 147) 30%, rgb(204, 166, 127) 89%);
  align-items: center;
  color: var(--paragraph);
  font-size: 11px;
}
.app .navbar a {
  color: var(--paragraph);
  text-decoration: none;
}
.app .navbar img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 128px;
  width: 128px;
  border-radius: 100%;
  margin-top: 2.5rem;
}
.app .hero {
  padding: 16px;
  position: relative;
}
.app .hero h1 {
  font-size: 7rem;
  color: #ac8d5c;
  position: relative;
  z-index: 1;
}
.app .hero h2 {
  width: 50%;
  color: var(--paragraph);
  z-index: 100;
}
.app .hero img {
  position: absolute;
  bottom: 0;
  width: 248px;
  right: 0;
  margin-right: -48px;
  overflow: hidden;
}
.app .menu--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}
.app .menu--list .card--container--search {
  width: 75%;
  margin: 16px;
  margin-bottom: 32px;
  border: none;
  background-color: var(--primary);
  padding: 16px 32px;
  font-size: 1rem;
  border-radius: 16px;
}
.app .menu--list .card--container--search:focus {
  outline: none;
}
.app .menu--list .card--container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.app footer {
  background-color: var(--black);
  color: var(--primary);
  padding: 16px 32px;
}

.login--container,
.signup--container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login--container .login,
.login--container .signup,
.signup--container .login,
.signup--container .signup {
  background: linear-gradient(180deg, rgb(242, 194, 147) 0%, rgb(204, 166, 127) 99%);
  border-radius: 32px;
  width: 75vw;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login--container .login h1,
.login--container .signup h1,
.signup--container .login h1,
.signup--container .signup h1 {
  text-align: center;
  margin-bottom: 32px;
  color: var(--paragraph);
}
.login--container .login input,
.login--container .signup input,
.signup--container .login input,
.signup--container .signup input {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 4px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: none;
}
.login--container .login button,
.login--container .signup button,
.signup--container .login button,
.signup--container .signup button {
  width: 100%;
  height: 64px;
  background-color: var(--paragraph);
  border: none;
  color: var(--primary);
  font-size: 2rem;
  cursor: pointer;
}
.login--container .login p,
.login--container .signup p,
.signup--container .login p,
.signup--container .signup p {
  margin-top: 32px;
}

.cart {
  display: flex;
  justify-content: center;
}
.cart .cart--content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 64px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.cart .cart--content .card--container {
  display: flex;
}
.cart .cart--content .card--container .card {
  flex-direction: row;
  height: 128px;
  margin-top: 16px;
}
.cart .cart--content .card--container .card .card--image {
  height: 100%;
  width: 50%;
}
.cart .cart--content .card--container .card .card--image img {
  height: 100%;
}
.cart .cart--content .card--container .card .card--information {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart .cart--content .card--container .card .card--information p {
  float: left;
}
.cart .cart--content .card--container .card .card--information .card--information--button button {
  float: right;
  font-size: 11px;
  background-color: #c0392b;
  border: none;
  padding: 4px;
  color: var(--primary);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.cart .cart--content .card--container .card .card--information .card--information--button button:hover {
  background: none;
  color: #c0392b;
  border: 1px solid #c0392b;
  padding-right: -1px;
}/*# sourceMappingURL=styles.css.map */